<header class="mat-elevation-z1">
  <img alt="Logo de ATOM Chat" ngSrc="assets/images/logo-atom-chat.png" width="192" height="55" />
  <h1 class="welcome-txt">Reto Técnico</h1>
</header>
<div class="welcome-container">
  <p>
    <b>¡Hola!</b>
    <br><br>
    Es un placer darte la bienvenida a esta fase crucial de nuestro proceso de selección. Esperamos que te encuentres emocionado por enfrentar este desafío técnico y demostrar todo tu talento y habilidades.
    <br><br>
    Queremos recordarte que las indicaciones detalladas para esta prueba se encuentran en el documento del reto técnico que te hemos proporcionado. Te pedimos que sigas cada instrucción cuidadosamente para garantizar una evaluación justa y precisa de tu trabajo.
    <br><br>
    Estamos seguros de que tienes el conocimiento, la experiencia y la determinación necesarios para superar este desafío con éxito. Confiamos en tus habilidades y estamos ansiosos por ver todo lo que puedes lograr.
    <br><br>
    Te deseamos mucho éxito en esta prueba técnica. ¡Estamos seguros de que dejarás una impresión duradera y nos sorprenderás con tus capacidades!
  </p>
  <br>
  <p class="good-luck-txt">¡Adelante y buena suerte!</p>
</div>
